<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.my22">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/window"
        android:label="스마트윈도우"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.kt.iot.mobile.android"/>
            </intent-filter>
        </activity>

        <service android:name="push.GCMIntentService"/>

        <receiver
            android:name="push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <intent-filter>
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>-->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.kt.iot.mobile.android" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.kt.iot.mobile.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.kt.iot.mobile.android.permission.C2D_MESSAGE" />

</manifest>